{% extends "header_base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/post.css') }}">
{% endblock %}

{% block content %}
{{ super() }}

<div class="post_container">
    <div class="post">
        <div class="lock">
            {% if post.private %}
            <span class="fa fa-solid fa-lock"></span>
            {% else %}
            <span class="fa fa-solid fa-lock-open"></span>
            {% endif %}
        </div>
        <div class="post_header">
            <div class="row">
                <span class="fa fa-solid fa-user"></span>
                <div class="column">
                    <div class="author">{{ post.author.username }}</div>
                    <div class="created_at">{{ post.created_at | datetime_format }}</div>
                </div>
            </div>
            <div class="title">{{ post.title }}</div>
        </div>
        <div class="post_body">{{ post.description }}</div>
    </div>
</div>

{% endblock %}
